@import "tailwindcss";


/* app/globals.css */
:root {
  --red: #b71c1c;
  --gold: #fbc02d;
}
body { font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; margin: 0; }
a { color: inherit; text-decoration: none; }
